h1, h2
{
    text-align: center;
    letter-spacing: 1px;
    font-size: 300%;
}

h2
{
    margin-right: 25%;
}

p
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 120%;
    letter-spacing: 1px
}

h1 {
    text-align: center;
    -webkit-animation: fadein 4s;
  }

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

a.positionHauteDroite
{
    position: fixed;
    top: 0px;
    right: 13px;
    text-decoration: none;
}

a.positionHauteGauche
{
    position: fixed;
    top: 28px;
    left: -25px;
    text-decoration: none;
    transform: rotate(-90deg);
}

a.positionBasDroite
{
    position: fixed;
    bottom: 40px;
    right: -28px;
    text-decoration: none;
    transform: rotate(90deg);
}

a.positionBasGauche
{
    position: fixed;
    bottom: 75px;
    left: -71px;
    text-decoration: none;
    transform: rotate(-90deg);
}

a
{
    font-size: 190%;
}